body {
    background-color: #03045e;
}

.double {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.Componente section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #1d3557;
    border: 1.5em solid #1d3557;
    border-radius: 7px;
    max-width: 17em;
    box-shadow: 0 0 1em black;
    margin-top: 2em;
}

.Componente img {
    border-radius: 5px;
}

.legenda {
    margin-top: 0.8em;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.subleg {
    margin-top: 0.5em;
    color: rgba(255, 255, 255, 0.432);
    text-align: justify;
}


.Etherum {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
    justify-content: flex-start;
}

.Etherumimg {
    max-width: 0.7em;
    margin-right: 0.5em;
    filter: invert(21%) sepia(43%) saturate(4257%) hue-rotate(261deg) brightness(93%) contrast(98%);
}

.Etherum .preçoeth {
    font-size: 0.8em;
    font-weight: bold;
    color: #9d4edd
}

.risco {
    border: 1px solid rgba(255, 255, 255, 0.432);
    border-radius: 2em;
    width: 100%;
}

.tempo {
    margin-left: auto;
    color: rgba(255, 255, 255, 0.432);
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-items: center;
    text-align: end;
    font-size: 0.6em;
}

.tempoimg {
    filter: invert(50%) sepia(0%) saturate(2880%) hue-rotate(285deg) brightness(97%) contrast(93%);
    margin-right: 0.5em;
    max-width: 1.5em; 
}

.autornft {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-items: center;
    margin-top: 0.5em;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.432);
}

.autornftimg {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1.2em;
}